<h1>Welcome to the Capgemini Web Learning System</h1>




<h3>Students on each module</h3>
<% @students = Enrolment.all %>
<%= column_chart @students.group('enrolments.module_id').count, library: {backgroundColor: "#FFF", width: '50%'} %>Module Code

<h3>Numebr of students attending different sessions</h3>


<%= column_chart Session.joins(:attends).group('date').count %>
Session Date


